<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品詳細</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <h1>商品詳細</h1>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>商品名</th>
                <th>価格</th>
                <th>カテゴリ</th>
                <th>画像</th>
                <th>説明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ object.name }}</td>
                <td>{{ object.price }} 円</td>
                <td>{{ object.category }}</td>
                <td><img src="{{ object.img.url }}" style="width:100px height:auto;"></td>
                <td>{{object.describe}}</td>
            </tr>
        </tbody>
    </table>
    <a class="link-opacity-100" href="{% url 'list' %}">戻る</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>
